@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


* {
  font-family: "Lato", sans-serif;
}

.my-btn {
  @apply bg-[#D2F34C] font-semibold px-6 py-2 border-2 border-[#D2F34C] hover:text-[#D2F34C] hover:bg-[#244034] transition-all duration-300 ease-in-out transform cursor-pointer;
}